{% extends "template.html" %}
{% block content %}

<div class="container">
    <h1 class="page-title">About</h1>
    <p> The coronavirus, also known as COVID-19, is currently an international pandemic with the current shortage in
        testing kits there is an important need for secondary means to filter those who are infected with the virus
        and those who may have another, potentially treatable condition. </p>
    <p> Our goal is to use Artificial Intelligence while comparing accuracy using
        different loss functions and optimizers to detect COVID-19 in chest x-rays images. </p>
</div>
<br>
<div class="container">
    <div class="row">
        <h3>The Team</h3>
        <p> Our team is composed of 5 SFU undergraduate students. We aim to help the world through devastation by
            creating bio medical related software.</p>
    </div>
    <div class="row">
        <table class="table">
            <tbody>
            <tr>
                <td>Chester Cervantes</td>
                <td>Nathan Cheung</td>
                <td>Linden Kwok</td>
                <td>Melissa Lee</td>
                <td>Evan Yao</td>
            </tr>
            <tr>
                <td><small>Software Developer</small></td>
                <td><small>Software Developer</small></td>
                <td><small>Software Developer</small></td>
                <td><small>Software Developer</small></td>
                <td><small>Software Developer</small></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

